.page {
  padding: 20px 0;
  height: 100%;
}

.header {
  font-size: 18px;
  font-weight: normal;
  padding-left: 20px;
}

.chartContainer {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

@media (min-width: 1000px) {
  .page {
    padding: 20px;
  }

  .header {
    padding-left: 0;
  }
}
